.DS_Store
en/products/lora/lora_node/.DS_Store
en/products/lora/lora_node/wireless_stick/.DS_Store
en/products/lora/lora_node/wifi_lora_32/.DS_Store
en/products/lora/lora_gateway/ht-m01/.DS_Store
en/products/Heltec_Display/WiFi_Kit_Series/wifi_kit_8/.DS_Store
en/products/Heltec_Display/WiFi_Kit_Series/wifi_kit_32/.DS_Store
en/products/Heltec_Display/OLED_Screen/0.96_Inch/.DS_Store
en/products/Heltec_Display/OLED_Screen/1.3_Inch/.DS_Store
en/products/Heltec_Display/OLED_Screen/1.54_Inch/.DS_Store
.vscode
.idea


